<section>
    <div class="container" id="inicio">
        <div class="margem-pagina">

            <!--Texto de Apresentação-->
            <div class="texto-apresentacao">
                <h1 style="color: #800909; text-align: center;">
                    <img src="../../assets/logo.jpg" class="card-img-top primeira-imagem" alt="Logo da Doda Maq">
                </h1>
                <p style="text-align: center;">Expecialista em manutenção de Máquinas de Lavar.</p>
            </div>

            <div class="imagem-inicio">

                <!--Trabalhando com as Imagens-->
                <div class="div-card">

                    <!--Primeira Imagem-->
                    
                    <div class="card">
                        <img src="../../assets/lavagem_manual.png" 
                            class="d-block w-100 imagens-card"
                            alt="Deixe de lavar suas roupas com a mão">
                        <div class="card-body">
                            <p style="font-size: 20px; color:#800909;">Pare de lavar e torcer as roupas com
                                as mãos!</p>
                        </div>
                    </div>

                    <!--Terceira Imagem-->
                    <div class="card">
                        <img src="../../assets/conserto.png" 
                            class="d-block w-100 imagens-card" 
                            alt="Conserto de Máquinas">
                        <div class="card-body">
                            <p style="font-size: 20px; color:#800909;">Com a gente você tem conserto e garantia do
                                serviço.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--Fim do Tratamento com as imagens-->

        <!--Mapa-->
        <div id="mapa">
            <div class="texto-mapa">
                <p>Nós somos profissionais em manutenção de Tanquinhos, Máquinas de Lavar e Centrifugas.</p>
                <p>Nosso ponto de atendimento é na rua Luigi de Caruso, atrás da Quadra do Jardim São Norberto.</p>
                <p>Atendemos os bairros:</p>
                <ul>
                    <li>Jardim São Norberto;</li>
                    <li>Jardim Bom Clima;</li>
                    <li>Jardim Papai Noel;</li>
                    <li>Jardim São Nicolau;</li>
                    <li>Jardim Santa Fé</li>
                    <li>Novo Parelheiros;</li>
                    <li>Parelheiros</li>
                    <li>Jardim Herplim</li>
                </ul>
            </div>
            
            <div class="mapa">
                <iframe class="borda-mapa"
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d228.12757333304393!2d-46.70522650995507!3d-23.817134887849036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssoldamaq!5e0!3m2!1spt-BR!2sbr!4v1704748796996!5m2!1spt-BR!2sbr"
                    width="400" height="300" style="border:1;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</section>