.container{
    background-color: #d2d2d2;

    width: 900px;
    height: 100%;

    margin-top: 10px;
    
    border-radius: 50px;
    border-top: 10px solid #800909;
    border-bottom: 10px solid #800909;
}

.margem-pagina{
    width: 910px;
    height: 540px;
    overflow-y: scroll;
}

.imagem-inicio{
    margin: 0px 30px 10px 30px;
    padding: 0px 20px 20px 20px;
}

.margem-carossel{
    margin-top: 20px;
    margin-bottom: 80px;
}

.card{
    --bs-card-bg: color: ##d2d2d2;
    width: 272px;
    height: 300px;
}

.imagem-lavagem-manual{
    width: 270px !important;
}

.texto-apresentacao{
    color: #800909;
    font-size: 20px;
    margin-top: 30px;
}

.mapa{
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin-top: 70px;
    margin-bottom: 90px;
}

.borda-mapa{
    border-radius: 40px;
    border-top: 10px solid #800909;
    border-bottom: 10px solid #800909;
}

.contato{
    text-align: center;
}

.lista-contatos{
    list-style: none;
    display: inline-flex;
    text-align: center;
}

li{
    margin: 10px 30px 10px 30px;
}

@media (max-width: 991px) and (orientation: landscape) {
    .margem-pagina{
        width: 700px;
    }

    p{
        text-align: center;
    }
}
