<section>
    <div class="container">
        <div class="def-start">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="..." class="d-block w-100" alt="...">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, cum temporibus eaque aliquam ratione dolorum, fugiat voluptatem repudiandae tempore voluptate officiis aperiam. Blanditiis, nesciunt itaque eaque voluptatem voluptatibus dolore dolores.</p>
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, libero. Quasi, nam harum? Iusto in nihil eligendi ipsam provident? Officiis est rerum ipsam a repellat cupiditate aliquid mollitia suscipit maxime?</p>
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim possimus eveniet laborum optio ipsam quod rerum dignissimos exercitationem facilis. Ipsa dicta eius quo maiores est rem, dolorum aperiam alias inventore.</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>


