<section>
    <footer>
        <div class="container">
            <!--Contatos-->
        <div class="contato" id="contato">
            <p style="color: #800909; font-size: 30px;">Entre em contato conosco e faça um orçamento gratuíto.</p>
            <div>
                <ul class="lista-contatos">
                    <li>
                        <a href="https://wa.me/+5511956396531" target="_blank">
                            <img width="60" height="60" src="https://img.icons8.com/color/48/whatsapp--v1.png"
                                alt="whatsapp--v1" />
                        </a>
                    </li>
                    <li>
                        <a href="tel:+5511974952046" target="_blank">
                            <img width="60" height="60" src="https://img.icons8.com/fluency/48/phone--v1.png"
                                alt="phone--v1" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        </div>
    </footer>
</section>