/*Resetando algumas alterações globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #080000 !important;
    height: 100%;
}
