.container{
    background-color: #d2d2d2;

    width: 900px;
    height: 100%;

    margin-top: 0px;
    
    border-radius: 10px;
    border-bottom: 10px solid #800909;
}

.margem-menu{
    height: 100px;
}

.position-buttom {
    display: flex;
    list-style: none;

    padding: 10px 20px 0px 10px;
    margin: 0px 10px 10px 10px;
}

.decoracao-texto{
    color: #800909;
}

a{
    text-decoration: none;
}

a:hover{
    font-size: 18px;
}

/*

@media (max-width: 991px) and (orientation: landscape) {
    button{
        margin-top: 40px;
        margin-right: 30px;
    }
    .navbar-nav{
        margin: -53px 96px 0px 160px;
    }
}

@media (max-width:430px) and (orientation: portrait) {
    .container{
        width: 415px !important;
    }
    button{
        margin-top: 40px;
        margin-right: 15px;
    }
    .navbar-nav{
        margin: -54px 110px 0px 22px;
    }
}

@media (width:712px) and (max-height: 1139px) and (orientation: portrait) {
    button{
        margin-top: 40px;
        margin-right: 15px;
    }
    .navbar-nav{
        margin: -54px 110px 0px 22px;
    }
}*/