<section>
    <div class="container justify-content-center">
            <ul class="position-buttom">
                <li >
                    <a class="decoracao-texto" href="#inicio">INÍCIO<span class="sr-only"></span></a>
                </li>
                <li >
                    <a class="decoracao-texto" href="#mapa">MAPA</a>
                </li>
                <li >
                    <a class="decoracao-texto" href="#contato">CONTATO</a>
                </li>
            </ul>
    </div>
</section>